<h4>Robin van der Knaap</h4>
<img class="pull-left" style="margin: 0px 10px 5px 0px; width: 70px; height:70px;" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/robin-van-der-knaap-hover.jpg"))" alt="Robin van der Knaap" width="70" height="70" />
Software developer, co-owner of <a href="http://skaele.nl">Skaele Software Development</a> and proud father of three boys.
<table id="social">
    <tr>
        <td><a href="https://twitter.com/robinvdknaap"><img alt="twitter" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/twitter.png"))"/></a></td>
        <td><a href="http://www.linkedin.com/in/robinvdknaap"><img alt="linkedin" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/linkedin.png"))"/></a></td>
        <td><a href="http://stackoverflow.com/users/426840/robin-van-der-knaap"><img alt="stackoverflow" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/stackoverflow.png"))"/></a></td>
        <td><a href="https://github.com/robinvanderknaap"><img alt="github" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/github.png"))"/></a></td>
        <td><a href="http://feeds.feedburner.com/metdepuntnaarvoren"><img alt="rss feed" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/rss.png"))"/></a></td>
    </tr>
</table>